.DS_Store
.git
.gitignore
.idea
.pytest_cache
__pycache__
assets
data
frontend/dist
frontend/node_modules
native_tools/target
outlets/**/__pycache__
outlets/rust/target
server/.elixir_ls
server/_build
server/cover
server/deps
server/doc
server/priv/static/assets
server/priv/static/cache_manifest.json
server/tmp
